<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/service.css">
</head>
<body>

<div th:fragment="footer">


    <footer class = "bg-dark text-light mt-4 py-4">
        <div class = "container text-center">
            <div class="py-3">
                <small>&copy; 2018 Car Service &amp; Matija Rabuzin</small>
            </div>
        </div>
    </footer>


</div>

</body>
</html>