<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <!--/*/<th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container mt-5">
    <h1>Car info</h1>
<table>
    <tr>
        <td >Car type: </td>
        <td th:text="${car.carType}"/>
    </tr>

    <tr>
        <td>Color: </td>
        <td th:text="${car.color}"/>
    </tr>

    <tr>
        <td>Registration table: </td>
        <td th:text="${car.registrationTable}"/>
    </tr>

    <tr>
        <td>Production year: </td>
        <td th:text="${car.productionYear}"/>
    </tr>

    <tr>
        <td>Owner: </td>
        <td>
            <a th:text="${car.client.firstName + ' ' + car.client.lastName}" th:href="@{'/client/info/' + ${car.client.id}}">Click me</a>
        </td>
    </tr>



    <tr>
        <td colspan="2">
            <ul class="list-unstyled">
                <li th:each="service : ${car.serviceList}" th:text="${service.serviceTime + ' ' + service.serviceDescription }"> Car type
                    <a th:href="@{'/service/info/' + ${service.id}}"><button class="btn btn-sm btn-outline-primary">Info</button></a>
                </li>
            </ul>
        </td>
    </tr>
</table>


    <a href="/car/create" class="btn btn-lg btn-outline-warning mt-2">Create car</a><br/>
    <a href="/car/list" class="btn btn-lg btn-outline-danger mt-2">List cars</a>
</div>
</body>
</html>