<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <!--/*/<th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container mt-5">
    <h1>Client info</h1>
<table>
    <tr>
        <td class="mr-2 bigblock">First name: </td>
        <td th:text="${client.firstName}"/>
    </tr>

    <tr>
        <td class="mr-2 bigblock">Last name: </td>
        <td th:text="${client.lastName}"/>
    </tr>

    <tr>
        <td class="mr-2 bigblock">OIB: </td>
        <td th:text="${client.oib}"/>
    </tr>

    <tr>
        <td class="mr-2 bigblock">Street: </td>
        <td th:text="${client.clientAdress.street + ' ' + client.clientAdress.streetNumber}"/>
    </tr>

    <tr>
        <td class="mr-2 bigblock">City: </td>
        <td th:text="${client.clientAdress.postalCode + ' ' + client.clientAdress.city}"/>
    </tr>

    <tr>
        <td class="mr-2 bigblock">Country: </td>
        <td th:text="${client.clientAdress.country}"/>
    </tr>

    <tr>
        <td colspan="2">
            <ul class="list-unstyled">
                <li th:each="car : ${client.carList}" th:text="${car.carType} + ' ' + ${car.registrationTable }">Car type</li>
            </ul>
        </td>
    </tr>
</table>


    <a href="/" class="btn btn-lg btn-outline-dark">Homepage</a><br/>
    <a href="/client/create" class="btn btn-lg btn-outline-warning mt-2">Create car</a><br/>
    <a href="/client/list" class="btn btn-lg btn-outline-danger mt-2">List clients</a>

</div>

</body>
</html>