<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <!--/*/<th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container col-sm-3 mt-5 text-center">
    <h1>Create service</h1>
    <form action="/service/create" method="post" th:object="${service}">

        <div class="row mt-3">
            <label class="mr-2" for="serviceDate" > Service date:  </label>
            <input type="text" id="serviceDate" th:field="*{serviceDate}"/>
            <p th:if="${#fields.hasErrors('serviceDate')}" th:errors="*{serviceDate}">Incorrect service date</p>
        </div>

        <div class="row mt-3">
            <label class="mr-2" for="serviceTime" >Service time:</label>
            <Input type = "text" id="serviceTime" th:field="*{serviceTime}"/>
            <p th:if="${#fields.hasErrors('serviceTime')}" th:errors="*{serviceTime}">Incorrect service time</p>
        </div>

        <div class="row mt-3">
            <label class="mr-2" for="workerFirstName" >Worker first name:</label>
            <Input type = "text" id="workerFirstName" th:field="*{workerFirstName}"/>
            <p th:if="${#fields.hasErrors('workerFirstName')}" th:errors="*{workerFirstName}">Incorrect first name</p>
        </div>

        <div class="row mt-3">
            <label class="mr-2" for="workerLastName" >Worker last name:</label>
            <Input type = "text" id="workerLastName" th:field="*{workerLastName}"/>
            <p th:if="${#fields.hasErrors('workerFirstName')}" th:errors="*{workerLastName}">Incorrect last name</p>
        </div>

        <div class="row mt-3">
            <label class="mr-2" for="serviceDescription" >Service description:</label>
            <Input type = "text" id="serviceDescription" th:field="*{serviceDescription}"/>
            <p th:if="${#fields.hasErrors('serviceDescription')}" th:errors="*{serviceDescription}">Incorrect description</p>
        </div>

        <div class="row mt-3">
            <label class="mr-2" for="servicePrice" >Service price:</label>
            <Input type = "text" id="servicePrice" th:field="*{servicePrice}"/>
            <p th:if="${#fields.hasErrors('servicePrice')}" th:errors="*{servicePrice}">Incorrect price</p>
        </div>

        <div class="row mt-3">
            <label class="mr-2" for="asign" > Asign service: </label>
            <select id="asign" th:field="*{car}">
                <option th:each="car : ${cars}"
                        th:value="${car.id}"
                        th:text="${car.carType} + ' ' + ${car.registrationTable}">Cars
                </option>
            </select>
        </div>


        <button class="mb-5 mt-3 btn btn-lg btn-dark " type="submit">Submit</button>
    </form>


    <a href="/" class="btn btn-lg btn-outline-dark">Homepage</a><br/>
    <a href="/service/list" class="btn btn-lg btn-outline-danger mt-2">List services</a><br/>
</div>
</body>
</html>