<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>

<div class="container col-sm-3 mt-5 text-center">
    <div class="row">
        <a href ="/client/create/" class="col btn btn-lg btn-outline-dark">Add client</a><br/>
        <a href = "/client/list" class="col btn btn-lg btn-outline-dark ml-2">View all clients</a><br/>
    </div>

    <div class ="row mt-3">
        <a href="/car/create" class="col btn btn-lg btn-outline-warning">Create car</a>
        <a href="/car/list" class="col btn btn-lg btn-outline-warning ml-2">View all cars</a>
    </div>

    <div class ="row mt-3">
        <a href="/service/create" class="col btn btn-lg btn-outline-danger">Create car</a>
        <a href="/service/list" class="col btn btn-lg btn-outline-danger ml-2">View all cars</a>
    </div>
</div>

</body>
</html>