<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
</head>
<body>

<div class="container col-sm-5 mt-5 text-center">
    <ul class = "list-unstyled">
        <div class="row mt-3">
            <li class="mt-2" th:each="client : ${clients}" >
                <a th:href="@{'/client/info/' + ${client.id}}"><span class="bigblock" th:text="${client.firstName} + ' ' + ${client.lastName} + ' ' + ${client.clientAdress.street}">Client</span></a>
                <a th:href="'/client/delete/' + ${client.id}"><button class="btn btn-danger" >Delete client</button></a>
                <a th:href="@{'/client/edit/' + ${client.id}}"><button class="btn btn-warning" >Edit client</button></a>
            </li>
        </div>
    </ul>

    <a href="/" class="btn btn-lg btn-outline-dark">Homepage</a><br/>
    <a href="/client/create" class="btn btn-lg btn-outline-warning mt-2">Create client</a>
</div>


</body>
</html>