<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <!--/*/<th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container col-sm-5 mt-5 text-center">
    <h1>List cars</h1>
    <ul class = "list-unstyled">
        <div class="row mt-3">
            <li class="mt-2" th:each="car : ${cars}" >
                <a th:href="@{'/car/info/' + ${car.id}}"><span class="bigblock" th:text="${car.registrationTable} + ' ' + ${car.carType}">Car</span></a>
                <a th:href="'/car/delete/' + ${car.id}"><button class="btn btn-danger" >Delete car</button></a>
                <a th:href="@{'/car/edit/' + ${car.id}}"><button class="btn btn-warning" >Edit car</button></a>
            </li>
        </div>
    </ul>
    <form>
    Filter cars by clients:
    <select name = "clientId">
        <option value="">
            -
        </option>
        <option th:each="client : ${clients}"
                th:value="${client.id}"
                th:selected="${client.id} == ${selectedClient}"
                th:text="${client.firstName + ' ' + client.lastName}">Client
        </option>
    </select>
    <button class="btn btn-sm btn-dark">Filter</button><br/><br/>
    </form>

</div>

</body>
</html>