<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<form name="f" action="/login" method="post">

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="username" placeholder="Enter username" value=''>
    </div>
    <div class="form-group">
        <label for="password-login">Password:</label>
        <input type="password" class="form-control" name="password" id="password-login" placeholder="Password">
    </div>

    <a href="/user/whichUser">Forgot username/password?</a>


    <button type="submit" class="btn btn-dark btn-lg mt-4" value="login">Login</button>
</form>
</body>
</html>